.container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-columns:repeat(3 100px);
    grid-template-rows:100px 100px; 
    gap:10px;
 }
.boxes {
    background-color: rgb(18, 168, 168);
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    
}


