.overlay-backround {
    width: 100px;
    height: 300px;
    background-position: center;
    background-color: rgba(1, 2, 0, 0.4);
    display: flex;
    flex-direction: column;
    display: inline-block;

}

.product-info {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    width: 700px;
    height: 250px;
    position: relative;

    
}

.product-info img {
    width: 200px;
    height: 230px;
    padding-left:10px ;
    
}

.product-info h2  {
    position: absolute;
    top: 3px;
    
}
.product-info p {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-bottom: 70px;
}
.add-to-cart {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 90px;
    left: 150px;
    margin-left: 10px;
    background: blue;
    color: white;
    padding: 10px;
    
}
.learn-more {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 90px;
    right: 20px;
    margin-left: 10px;
    background: blue;
    color: white;
    padding: 10px;
    
}
