.navbar {
    background-color: blue;
    color: white;
    margin-bottom: 20px;
    line-height: 40px;
    text-align: center;
    margin-left: 50px;
}

.content-box {
    background-color:turquoise;
    margin-bottom: 30px;
    line-height: 40px;
    text-align: center
}
#box1 {
    color: sienna;
    margin-left: 100px;
    margin-top: 40px;
}

#box2 {
    color:red;
    margin-left: 50px;
}

#box3 {
    margin-left: 100px;
}

.footer {
    background-color: black;
    color: aqua;
    line-height: 40px;
    margin-left: 160px;
    text-align: center;
}