@media (max-width:2080px) {
    .container {
        grid-template-columns: repeat(5,1fr);
}
 } 

@media (max-width:1400px) {
    .container {
        grid-template-columns: repeat(4,1fr);
    }
}

@media (max-width:1025px) {
    .container {
        grid-template-columns: repeat(3,1fr);
    }
}

@media (max-width:768px) {
    .container {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:480px) {
    .container {
        grid-template-columns: 1fr;
    }
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    margin-inline: auto;
}

img {
    width: 100%;
    border-radius: 9px;
    box-shadow: 0 5px 9px rgba(0,0,0,0.5);
}

.container {
    display: grid;
    gap: 20px;
    padding: 20px;
}

.company-services {
    background-color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 9px rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 9px;
}

.services-headline {
    padding: 10px;
}

.services-headline:hover,.services-description:hover {
    color: rgba(14, 108, 201, 0.729);
    cursor: pointer;
}

.services-headline,.services-description {
    text-transform: capitalize;
}