
.form {
  background-color: #fff;
  box-shadow: 5px 7px 20px;
  padding: 10px;
  margin: 100px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}

.todoTitle {
  text-align: center;
}

.todoContainer {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.input {
  height:30px;
  width: 250px;
  border-radius: 7px;
  padding-left:10px;
}

.button {
  background: blueviolet;
  padding-inline: 20px;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: #2d2d94;
}