@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Buda:wght@300&family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Playwrite+DE+Grund+Guides&family=Playwrite+NZ+Guides&family=Poppins:wght@300&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@import "tailwindcss";
/* @plugin "tailwindcsss/typography"; */



body {
  font-family: "Truculenta", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.ql-tooltip.ql-editing {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%,-50%) !important ;
  z-index: 1000;

}
